/*********************
COLORS
*********************/

$black:     #000;
$white:     #fff;
$gray: 		#363636;
$blue:      #2a5f9a;
$lt-blue: 	#05edf6;
$yellow:	#f9fc02;

$link-color:        $blue;
$link-hover:        $lt-blue;
/*********************
TYPOGRAPHY
*********************/

$sans-serif-header:    "Open Sans", Helvetica, Arial, sans-serif;
$sans-serif-reading: 	"Anaheim", Helvetica, Arial, sans-serif;


/*********************
ANIMATION
*********************/
$transitionSpeed: .5s;